/* element-ui 表格样式修改 */
.el-table--mini {
  font-size: 14px;
}
.el-table__body-wrapper {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  // &::-webkit-scrollbar {
  //   height: 16px;
  // }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}
.el-table {
  // height: auto;
  // overflow-y: auto;
  font-size: 12px;
  margin-bottom: 10px;
  // overflow-y: hidden;
}
.el-table .el-table__cell{
  padding: 0;
}
.el-table__fixed-right {
  height: 100% !important;
  box-shadow: 3px 0px 10px 7px rgba(216, 216, 216, 0.7);
}
.el-table:not(.el-table--scrollable-x) {
  .el-table__fixed-right {
    height: 100% !important;
  }
}
::v-deep .el-table--medium th,
::v-deep .el-table--medium td {
  padding: 0 !important;
  color: #303133 !important;
}
::v-deep.el-table .cell {
  line-height: 16px !important;
}
::v-deep .el-table--medium th {
  min-height: 32px !important;
  height: 32px !important;
  line-height: 16px !important;
}
::v-deep .el-table .cell.el-tooltip {
  height: 25px !important;
  line-height: 25px !important;
}

.el-table .el-table__header-wrapper th {
  background: rgba(0, 0, 0, 0.02);
}
.el-table th.is-leaf {
  background: rgba(0, 0, 0, 0.02);
}

/* 表单 */
::v-deep .el-form-item--medium .el-form-item__label {
  line-height: 32px !important;
}
::v-deep .el-form-item__label {
  height: 28px;
  font-size: 12px;
  font-weight: normal;
  padding-top: 2px;
}
::v-deep .el-button {
  height: 28px;
  font-size: 12px;
  padding: 0 16px;
}
::v-deep .cell .el-button {
  padding: 0 0px;
}
::v-deep .el-input__inner {
  height: 28px !important;
  line-height: 28px !important;
  font-size: 12px;
  padding: 0 8px;
}
::v-deep .el-input-number--medium {
  line-height: 26px;
}
::v-deep .el-date-editor .el-input__inner {
  padding: 0 30px;
}
/* 按钮 */
::v-deep .el-button {
  height: 28px;
  font-size: 12px;
  padding: 0 16px;
}
::v-deep .cell .el-button {
  padding: 0 0px;
}